@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  color: white;
  height: 100vh;
  background: #282828;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d6e8ff;
  border-radius: 25px;
}
